:root {
  --c-primary: #fff;
  --c-theme: #dfe9ff;
  --c-theme-footer: #00106a;
  --c-button-color: #4b71ff;

  --fade: 300ms;

  --container: 1520px;

  --darkPurple: #00106a;
  --lightBlue: #dfe9ff;
  --activeBlue: #4b71ff;
  --white: #ffffff;
  --lightPurple: #989dc5;
}
