

  .content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
  }
  
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: #343a40;
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }
  
  .smaller {
    font-size: 0.7rem;
  }
  
  .o-hidden {
    overflow: hidden !important;
  }
  
  .z-0 {
    z-index: 0;
  }
  
  .z-1 {
    z-index: 1;
  }
  
  .card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  
  @media (min-width: 576px) {
    .card-columns {
      column-count: 1;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 2;
    }
  }

  .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card-container a{
    color: #000;
    text-decoration: none;
  }
  
  .card{
    margin: 10px;
  }
  
  @media (min-width: 800px){
    .card-container{
      flex-wrap: no-wrap;
    }
  }
  